import /init.recovery.decrypt.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug mode=0755

on fs
    export ANDROID_ROOT /system_root

on post-fs
    symlink /dev/block/platform/bootdevice/ /dev/block/bootdevice
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

on boot
    write /sys/android_touch/doubletap2wake 1
